
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f8f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(64, 56, 49, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.user.details {
  margin-bottom: 15px;
}

.input.box {
  display: flex;
  flex-direction: column;
}

.details {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

input[type="radio"] {
  margin-right: 5px;
}

.button {
  text-align: center;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #9d484a;
}

@media (max-width: 768px) {
  .container {
      width: 90%;
      padding: 15px;
  }

  .title {
      font-size: 22px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
      font-size: 16px;
  }

  input[type="submit"] {
      padding: 12px 25px;
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
      width: 95%;
      padding: 10px;
  }

  .title {
      font-size: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
      font-size: 18px;
  }

  input[type="submit"] {
      padding: 14px 30px;
      font-size: 20px;
  }
}

